<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="world.ssafy.tourtalk.model.mapper.BoardMapper">
	<!-- 게시글 작성 -->
	<insert id="writeBoard" useGeneratedKeys="true"
		keyProperty="postId">
		INSERT INTO board (
		title, content, writer_id, category,
		view_count, comment_count, status
		) VALUES (
		#{title}, #{content},
		#{writerId}, #{category,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.BoardCategory},
		#{viewCount}, #{commentCount}, #{status,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.BoardStatus}
		)
	</insert>

	<insert id="writeBoardDetails">
		INSERT INTO board_details (
		post_id, file_path
		) VALUES
		(
		#{postId}, #{filePath}
		)
	</insert>

	<!-- 게시글 수정 -->
	<update id="updateBoard">
		UPDATE board
		SET
		title = #{title},
		content = #{content},
		category = #{category,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.BoardCategory},
		status =
		#{status,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.BoardStatus}
		WHERE
		post_id = #{postId}
	</update>

	<update id="updateBoardDetails">
		UPDATE board_details
		SET
		file_path = #{filePath},
		updated_at = NOW()
		WHERE post_id = #{postId}
	</update>

	<!-- 게시글 상세 조회 -->
	<select id="selectById"
		resultType="world.ssafy.tourtalk.model.dto.response.BoardResponse">
		SELECT
		b.post_id,
		b.title,
		b.content,
		b.view_count,
		b.comment_count,
		b.category,
		b.writer_id,
		m.nickname AS writerNickname,
		b.status,
		d.created_at,
		d.updated_at,
		d.deleted_at,
		d.file_path
		FROM board
		b
		JOIN board_details d
		ON b.post_id = d.post_id
		JOIN member m ON
		b.writer_id = m.mno
		WHERE b.post_id = #{postId}
	</select>

	<update id="updateViewCount">
		UPDATE board
		SET view_count = view_count + 1
		WHERE
		post_id = #{postId}
	</update>

	<!-- 게시글 전체 목록 조회 -->
	<select id="selectAll"
		resultType="world.ssafy.tourtalk.model.dto.response.BoardResponse">
		SELECT
		b.post_id,
		b.category,
		b.writer_id,
		b.title,
		b.content,
		b.status,
		b.view_count,
		b.comment_count,
		d.created_at,
		d.updated_at,
		d.deleted_at,
		d.file_path,
		m.nickname AS writerNickname
		FROM board b
		JOIN board_details
		d ON b.post_id = d.post_id
		JOIN member m ON b.writer_id = m.mno
		WHERE 1
		= 1
		<if test="cond.status != null">
			AND b.status = #{cond.status,
			typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
			javaType=world.ssafy.tourtalk.model.dto.enums.BoardStatus}
		</if>
		ORDER BY d.created_at DESC
		LIMIT #{limit} OFFSET #{offset}
	</select>

	<!-- 전체 게시글 수 조회 -->
	<select id="countAll" resultType="long">
		SELECT COUNT(*)
		FROM board b
		WHERE 1 = 1
		<if test="cond.status != null">
			AND b.status = #{cond.status}
		</if>
	</select>

	<!-- 게시글ID 기반 찾기 -->
	<select id="findById"
		resultType="world.ssafy.tourtalk.model.dto.response.BoardResponse">
		SELECT
		b.post_id,
		b.title,
		b.content,
		b.view_count,
		b.comment_count,
		b.category,
		b.writer_id,
		m.nickname AS writerNickname,
		b.status,
		d.created_at,
		d.updated_at,
		d.deleted_at,
		d.file_path
		FROM board
		b
		JOIN board_details d
		ON b.post_id = d.post_id
		JOIN member m ON
		b.writer_id = m.mno
		WHERE b.post_id = #{postId}
	</select>

	<!-- 게시글 삭제 (소프트 딜리트) -->
	<update id="softDelete">
		UPDATE board
		SET status = #{status,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.BoardStatus}
		WHERE
		post_id = #{postId}
	</update>

	<update id="softDeleteDetail">
		UPDATE board_details
		SET deleted_at = NOW()
		WHERE
		post_id = #{postId}
	</update>

	<!-- 게시글 검색/목록 -->
	<select id="searchWithConditions"
		resultType="world.ssafy.tourtalk.model.dto.response.BoardResponse">
		SELECT
		b.post_id,
		b.title,
		b.content,
		b.view_count,
		b.comment_count,
		b.category,
		b.writer_id,
		m.nickname AS writerNickname,
		d.created_at,
		d.updated_at,
		d.deleted_at,
		d.file_path
		FROM board b
		JOIN board_details d
		ON b.post_id = d.post_id
		JOIN member m ON b.writer_id = m.mno
		WHERE
		b.status = 'ACTIVE'

		<if test="cond.keyword != null and cond.keyword != ''">
			<choose>
				<when test="cond.keywordType == 'title'">
					AND b.title LIKE CONCAT('%', #{cond.keyword}, '%')
				</when>
				<when test="cond.keywordType == 'writer'">
					AND b.writer_id = #{cond.writerId}
				</when>
			</choose>
		</if>

		<if test="cond.category != null">
			AND b.category = #{cond.category,
			typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
			javaType=world.ssafy.tourtalk.model.dto.enums.BoardCategory}
		</if>

		<choose>
			<when
				test="cond.orderBy == 'createdAt' and cond.orderDirection == 'ASC'">
				ORDER BY d.created_at ASC
			</when>
			<when
				test="cond.orderBy == 'createdAt' and cond.orderDirection == 'DESC'">
				ORDER BY d.created_at DESC
			</when>
			<when
				test="cond.orderBy == 'updatedAt' and cond.orderDirection == 'ASC'">
				ORDER BY d.updated_at ASC
			</when>
			<when
				test="cond.orderBy == 'updatedAt' and cond.orderDirection == 'DESC'">
				ORDER BY d.updated_at DESC
			</when>
			<when
				test="cond.orderBy == 'viewCount' and cond.orderDirection == 'ASC'">
				ORDER BY b.view_count ASC
			</when>
			<when
				test="cond.orderBy == 'viewCount' and cond.orderDirection == 'DESC'">
				ORDER BY b.view_count DESC
			</when>
			<otherwise>
				ORDER BY d.created_at DESC
			</otherwise>
		</choose>

		LIMIT #{pageSize} OFFSET #{offset}
	</select>

	<!-- 게시글 개수 -->
	<select id="countWithConditions" resultType="long">
		SELECT COUNT(*)
		FROM board b
		WHERE b.status = 'ACTIVE'

		<if test="cond.keyword != null and cond.keyword != ''">
			<choose>
				<when test="cond.keywordType == 'title'">
					AND b.title LIKE CONCAT('%', #{cond.keyword}, '%')
				</when>
				<when test="cond.keywordType == 'writer'">
					AND b.writer_id = #{cond.writerId}
				</when>
			</choose>
		</if>
		<if test="cond.category != null">
			AND b.category = #{cond.category,
			typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
			javaType=world.ssafy.tourtalk.model.dto.enums.BoardCategory}
		</if>
	</select>

	<!-- 게시글에 댓글 생성 -->
	<update id="updateCommentCount">
		UPDATE board
		SET comment_count = comment_count + 1
		WHERE post_id = #{postId}
	</update>

	<!-- 내가 작성한 게시글 조회 -->
	<select id="selectMyPosts"
		resultType="world.ssafy.tourtalk.model.dto.response.BoardResponse">
		SELECT
		b.post_id AS postId,
		b.title,
		b.view_count AS
		viewCount,
		b.comment_count AS commentCount,
		d.created_at AS createdAt,
		b.status
		FROM board b
		JOIN board_details d ON b.post_id = d.post_id
		WHERE b.writer_id = #{cond.writerId}
		AND b.status != 'DELETED'
		ORDER BY
		d.created_at DESC
		LIMIT #{size} OFFSET #{offset}
	</select>

	<!-- 게시글 개수 조회 -->
	<select id="countMyPosts" resultType="int">
		SELECT COUNT(*)
		FROM board
		WHERE writer_id = #{cond.writerId}
		AND status != 'DELETED'
	</select>

	<!-- 게시글 목록 조회 -->
	<select id="findBoardsWithCondition"
		resultType="world.ssafy.tourtalk.model.dto.response.BoardResponse">
		SELECT
		b.post_id,
		b.title,
		b.content,
		b.category,
		b.status,
		b.view_count,
		b.comment_count,
		m.nickname AS writerNickname,
		d.created_at
		FROM board b
		JOIN board_details d ON b.post_id = d.post_id
		JOIN member m ON
		b.writer_id = m.mno
		WHERE 1 = 1
		<if test="request.category != null">
			AND b.category = #{request.category}
		</if>
		<if test="request.status != null">
			AND b.status = #{request.status}
		</if>
		<if
			test="request.keyword != null and request.keyword != '' and request.keywordType == 'title'">
			AND b.title LIKE CONCAT('%', #{request.keyword}, '%')
		</if>
		<if
			test="request.keyword != null and request.keyword != '' and request.keywordType == 'writer'">
			AND m.nickname LIKE CONCAT('%', #{request.keyword}, '%')
		</if>
		ORDER BY
		<choose>
			<when test="request.orderBy != null and request.orderBy != ''">
				${request.orderBy} ${request.orderDirection}
			</when>
			<otherwise>
				b.post_id DESC
			</otherwise>
		</choose>
		LIMIT #{offset}, #{request.pageSize}
	</select>

	<!-- 게시글 총 개수 조회 -->
	<select id="countBoardsWithCondition" resultType="int">
		SELECT COUNT(*)
		FROM board b
		JOIN board_details d ON b.post_id =
		d.post_id
		JOIN member m ON b.writer_id = m.mno
		WHERE 1 = 1
		<if test="request.category != null">
			AND b.category = #{request.category}
		</if>
		<if test="request.status != null">
			AND b.status = #{request.status}
		</if>
		<if
			test="request.keyword != null and request.keyword != '' and request.keywordType == 'title'">
			AND b.title LIKE CONCAT('%', #{request.keyword}, '%')
		</if>
		<if
			test="request.keyword != null and request.keyword != '' and request.keywordType == 'writer'">
			AND m.nickname LIKE CONCAT('%', #{request.keyword}, '%')
		</if>
	</select>

	<!-- 관리자 - 게시글 수정 -->
	<update id="updateBoardByAdmin">
		UPDATE board
		SET
		title = #{title},
		category = #{category,
			typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
			javaType=world.ssafy.tourtalk.model.dto.enums.BoardCategory},
		status = #{status,
			typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
			javaType=world.ssafy.tourtalk.model.dto.enums.BoardStatus}
		WHERE post_id = #{postId}
	</update>
</mapper>
