<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="world.ssafy.tourtalk.model.mapper.MemberMapper">

	<!-- 회원 기본 정보 입력 -->
	<insert id="insertMember"
		parameterType="world.ssafy.tourtalk.model.dto.request.MemberRequest"
		useGeneratedKeys="true" keyProperty="mno">
		INSERT INTO member (id, password,
		nickname, role, status, points)
		VALUES (
		#{id},
		#{password},
		#{nickname},
		#{role,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.Role},
		#{status,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.MemberStatus},
		#{points})
	</insert>

	<!-- 회원 상세 정보 입력 -->
	<insert id="insertMemberDetails"
		parameterType="world.ssafy.tourtalk.model.dto.request.MemberRequest">
		INSERT INTO member_details (mno, email, phone, gender,
		address, postal_code,
		birth_date, profile_img_path)
		VALUES (
		#{mno},
		#{email},
		#{phone},
		#{gender,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.Gender},
		#{address},
		#{postalCode},
		#{birthDate},
		#{profileImgPath})
	</insert>

	<insert id="insertCurator"
		parameterType="world.ssafy.tourtalk.model.dto.request.MemberRequest">
		INSERT INTO curator (mno, curator_no, curator_img)
		VALUES (#{mno}, #{curatorNo}, #{curatorImg})
	</insert>


	<!-- ID로 회원 조회 (로그인 등) -->
	<select id="getMemberById"
		resultType="world.ssafy.tourtalk.model.dto.response.MemberResponse"
		parameterType="String">
		SELECT mno, id, password, nickname, role, status, points
		FROM member
		WHERE id = #{id}
		AND status != #{status,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.MemberStatus}
	</select>

	<select id="getMemberByMno"
		resultType="world.ssafy.tourtalk.model.dto.response.MemberResponse">
		SELECT mno, id, password, nickname, role, status, points
		FROM member
		WHERE mno = #{mno}
		AND
		status != #{status,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.MemberStatus}
	</select>

	<!-- 상세 정보 조회 -->
	<select id="getDetailsByMno"
		resultType="world.ssafy.tourtalk.model.dto.response.MemberResponse">
		SELECT mno, email, phone, gender, address, postal_code AS
		postalCode,
		birth_date AS birthDate, profile_img_path AS
		profileImgPath,
		created_at, updated_at, last_login
		FROM member_details
		WHERE mno = #{mno}
	</select>

	<!-- 큐레이터 정보 조회 -->
	<select id="getCuratorByMno"
		resultType="world.ssafy.tourtalk.model.dto.response.MemberResponse">
		SELECT mno, curator_no AS curatorNo, curator_img AS
		curatorImg,
		ad_grade, approved_at
		FROM curator
		WHERE mno = #{mno}
	</select>

	<!-- 회원 정보 수정 -->
	<update id="update"
		parameterType="world.ssafy.tourtalk.model.dto.request.MemberRequest">
		UPDATE member
		SET password = #{password},
		nickname =
		#{nickname}
		WHERE mno = #{mno}
	</update>

	<!-- 회원 상세 정보 수정 -->
	<update id="updateDetails"
		parameterType="world.ssafy.tourtalk.model.dto.request.MemberRequest">
		UPDATE member_details
		SET email = #{email},
		phone =
		#{phone},
		gender = #{gender,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.Gender},
		address =
		#{address},
		postal_code = #{postalCode},
		birth_date = #{birthDate},
		profile_img_path = #{profileImgPath},
		updated_at = NOW()
		WHERE mno =
		#{mno}
	</update>

	<!-- 큐레이터 정보 수정 -->
	<update id="updateCurator"
		parameterType="world.ssafy.tourtalk.model.dto.request.MemberRequest">
		UPDATE curator
		SET curator_no = #{curatorNo},
		curator_img
		= #{curatorImg}
		WHERE mno = #{mno}
	</update>

	<!-- 회원 탈퇴 처리 (is_deleted = true) -->
	<update id="softDelete">
		UPDATE member
		SET status =
		#{status,
		typeHandler=world.ssafy.tourtalk.model.typehandler.GenericEnumTypeHandler,
		javaType=world.ssafy.tourtalk.model.dto.enums.MemberStatus}
		WHERE mno =
		#{mno}
	</update>

	<!-- ID 중복체크 -->
	<select id="existsById" resultType="boolean">
		SELECT COUNT(*) > 0 FROM
		member WHERE id = #{id}
	</select>

	<!-- 프로필 이미지 업로드 -->
	<update id="updateProfileImgPath">
		UPDATE member_details
		SET profile_img_path =
		#{profileImgPath}
		WHERE mno = #{mno}
	</update>

	<!-- mno로 회원 조회 -->
	<select id="selectMemberByMno"
		resultType="world.ssafy.tourtalk.model.dto.response.MemberResponse">
		SELECT * FROM member WHERE mno = #{mno}
	</select>

	<!-- mno로 회원 닉네임 조회 -->
	<select id="selectNicknameByMno" resultType="string">
		SELECT nickname FROM member WHERE mno = #{mno}
	</select>

</mapper>